@font-face {
    font-family: 'Packy Great';
    src: url('fonts/PackyGreat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'Packy Great', Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
  font-family: 'Nexa', Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

header {
    background: #BC4A3C;
    padding-top: 120px;
    padding-bottom: 10px;
    text-align: left;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 75px;
    font-family: 'Packy Great', Arial, sans-serif;
}

button {
  background: #ffffff;
  line-height: 1;
  vertical-align: middle;
  padding: 12px 12px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
  color: #BC4A3C;
  border: 3px solid #9b3d31;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  }

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}