@font-face {
    font-family: 'Packy Great';
    src: url('fonts/PackyGreat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Packy Great', Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #757575;
    color: #ffffff;
    padding: 20px;
    padding-left: 20px;
    text-align: left;
}

h1 {
    margin: 0;
}